{% extends 'AppBundle:Default:base.html.twig' %}

{% block content %}
    <br/>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <td>Для авторизации перейдите по <a href="/admin/1/login">ссылке</a></td>
            </tr>
        </table>
    </div>
{% endblock %}